.aeo-sidedrawer-container{
  position:fixed;
  top: 0;
  height: 100vh;
  transition: all .5s ease-in-out;
  border-right:  1px solid grey;
  background-color: white;
  z-index: 1;
  width: 225px;
  left: 0;
}

.aeo-sidedrawer-control{
  position: absolute;
  top: 20px;
  right: -65px;
}

button:focus{
  outline: none;
}
