<div class="app-container" >
  <div class="hero"><img [src]="appService.hero"></div>

  <aeo-side-drawer id="left-drawer" #drawer>
    <div class="monogram">BF</div>
      <mat-nav-list>
        <mat-list-item>
          <a href="#about"  (mouseup)="drawer.closed = true;"><button mat-icon-button><mat-icon>account_circle</mat-icon></button>ABOUT</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#experience" (mouseup)="drawer.closed = true;"><button mat-icon-button><mat-icon>business_center</mat-icon></button>EXPERIENCE</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#skills" (mouseup)="drawer.closed = true;"><button mat-icon-button><mat-icon>build</mat-icon></button>SKILLS</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#portfolio" (mouseup)="drawer.closed = true;"><button mat-icon-button><mat-icon>collections</mat-icon></button>PORTFOLIO</a>
        </mat-list-item>
        <mat-list-item>
          <a class="#testimonials" href="#testimonials" (mouseup)="drawer.closed = true;"><button mat-icon-button><mat-icon>star</mat-icon></button>TESTIMONIALS</a>
        </mat-list-item>
      </mat-nav-list>
  </aeo-side-drawer>

  <button id="settings"  mat-fab (click)="openDialog()" matTooltipShowDelay="1000" matTooltip="App Settings"><mat-icon>settings</mat-icon></button>

<bf-profile id="about" ></bf-profile>
<div class="vp-padding"></div>

<div class="container">
  <mat-card>
    <p>
      I have had over 15 year experience in Web Development and Programming. I studied Computer Science at Weber State University.
      I was fully responsible for the “Marine Classifieds” program at iboats.com.
      This program collects, edits, displays marine advertisements (mainly boats for sale) on  boats.iboats.com, from boat dealers, brokers  and  individual users.
      This included “For Sale By Owner”, “New Boat research”,  “Dealer Locator” and various backend administration programs. During my tenure at iboats classifieds ads went from a few 100 ads to 50,000.
    </p>
  </mat-card>
</div>



<aeo-view-port id="experience">
    <div class="vp-padding"></div>
    <div class="container">
      <div [ngClass]="{'timeline': !appService.isSmall}" >
        <div [ngClass]="{'timeline-block': !appService.isSmall, 'card': appService.isSmall}" >
           <div [ngClass]="{ 'dot': !appService.isSmall, 'card-header': appService.isSmall}"><h6><mat-icon>code</mat-icon></h6></div>
           <div [ngClass]="{'content': !appService.isSmall, 'card-body': appService.isSmall}" >
             <h2 [ngClass]="{'card-title': appService.isSmall}" >Full Stack Developer</h2>
             <h2>AEO - TECH</h2>
             <p>Dec 2017 - Present</p>
             <span class="badge badge-success">Angular 4 and 5</span>
             <span class="badge badge-success">Angular Material</span>
             <span class="badge badge-success">Jasmine</span>
             <span class="badge badge-success">NodeJS Express</span>
            <span class="badge badge-primary">JavaScript</span>
              <span class="badge badge-primary">TypeScript</span>
              <span class="badge badge-warning">GIT</span>
              <span class="badge badge-warning">Illustrator</span>
             <span class="badge badge-warning">PhotoShop</span>
             <span class="badge badge-warning">UNIX</span>
             <span class="badge badge-warning">Windows</span>
             <span class="badge badge-info">MongoDB</span>
             <span class="badge badge-dark">Bootstrap</span>
             <span class="badge badge-dark">CSS3</span>
             <span class="badge badge-dark">HTML5</span>
             <span class="badge badge-dark">SASS</span>
           </div>
        </div>
        <div [ngClass]="{'timeline-block': !appService.isSmall, 'card': appService.isSmall}" >
          <div [ngClass]="{ 'dot': !appService.isSmall, 'card-header': appService.isSmall}"><h6>F</h6></div>
          <div [ngClass]="{'content': !appService.isSmall, 'card-body': appService.isSmall}" >
            <h2 [ngClass]="{'card-title': appService.isSmall}" >Full Stack Developer</h2>
             <h2>Freelance</h2>
             <p>Nov 2016 - Present</p>
             <span class="badge badge-success">Angular 4 and 5</span>
             <span class="badge badge-success">AngularJS</span>
             <span class="badge badge-success">Angular Material</span>
             <span class="badge badge-success">JQuery</span>
             <span class="badge badge-primary">JavaScript</span>
             <span class="badge badge-primary">PERL</span>
             <span class="badge badge-primary">PHP</span>
             <span class="badge badge-primary">TypeScript</span>
             <span class="badge badge-warning">GIT</span>
             <span class="badge badge-warning">Illustrator</span>
             <span class="badge badge-warning">PhotoShop</span>
             <span class="badge badge-warning">UNIX</span>
             <span class="badge badge-warning">Windows</span>
             <span class="badge badge-info">MySQL</span>
             <span class="badge badge-info">PostgreSQL</span>
             <span class="badge badge-dark">Bootstrap</span>
             <span class="badge badge-dark">CSS3</span>
             <span class="badge badge-dark">HTML5</span>
             <span class="badge badge-dark">LESS</span>
             <span class="badge badge-dark">SASS</span>
           </div>
        </div>
        <div [ngClass]="{'timeline-block': !appService.isSmall, 'card': appService.isSmall}" >
          <div [ngClass]="{ 'dot': !appService.isSmall, 'card-header': appService.isSmall}"><h6><mat-icon>directions_boat</mat-icon></h6></div>
          <div [ngClass]="{'content': !appService.isSmall, 'card-body': appService.isSmall}" >
            <h2 [ngClass]="{'card-title': appService.isSmall}" >Full Stack Developer</h2>
             <h2>iBOATS</h2>
             <p>April 2000 - Oct 2016</p>
             <span class="badge badge-primary">Perl</span>
             <span class="badge badge-primary">JavaScript</span>
             <span class="badge badge-primary">JQuery</span>
             <span class="badge badge-warning">GIT</span>
             <span class="badge badge-warning">UNIX</span>
             <span class="badge badge-warning">Windows</span>
             <span class="badge badge-info">PostgreSQL</span>
             <span class="badge badge-dark">HTML5</span>
             <span class="badge badge-dark">CSS3</span>
           </div>
        </div>
      </div>
    </div>
</aeo-view-port>

<aeo-view-port id="skills">
  <div class="vp-padding"></div>
  <div class="container text-center">
      <h3 class="section">SKILLS</h3><br>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center"><strong class="mat-title">Programming</strong></div>

        <div class="row text-left">
          <div class="col-6 ">JavaScript</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills javascript"></div>

        <div class="row text-left">
          <div class="col-6">Perl</div><div class="col-6" style="text-align: right">75%</div>
        </div>
        <div class="skills perl"></div>

        <div class="row text-left">
          <div class="col-6">PHP</div><div class="col-6" style="text-align: right">75%</div>
        </div>
        <div class="skills php"></div>

        <div class="row text-left">
          <div class="col-6">TypeScript</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills typescript"></div><br>


        <div class="text-center"><strong class="mat-title">Frameworks</strong></div>

        <div class="row text-left">
          <div class="col-6">Angular</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills angular"></div>


        <div class="row text-left">
          <div class="col-6">Angular Material</div><div class="col-6" style="text-align: right">75%</div>
        </div>
        <div class="skills material"></div>

        <div class="row text-left">
          <div class="col-6">Bootstrap</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills bootstrap"></div>

        <div class="row text-left">
          <div class="col-6">Jasmine</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills jasmine"></div>

        <div class="row text-left">
          <div class="col-6">JQuery</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills jquery"></div>

        <div class="row text-left">
          <div class="col-6">NodeJS Express</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills express"></div>





      </div>
      <div class="col-md-4">

        <div class="text-center"><strong class="mat-title">Software</strong></div>

        <div class="row text-left">
          <div class="col-6">Atom</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills atom"></div>

        <div class="row text-left">
          <div class="col-6">Git</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills git"></div>

        <div class="row text-left">
          <div class="col-6">Illustrator</div><div class="col-6" style="text-align: right">65%</div>
        </div>
        <div class="skills illustrator"></div>

        <div class="row text-left">
          <div class="col-6">PhotoShop</div><div class="col-6" style="text-align: right">65%</div>
        </div>
        <div class="skills photoshop"></div>

        <div class="row text-left">
          <div class="col-6">Unix</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills unix"></div>

        <div class="row text-left">
          <div class="col-6">Windows</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills windows"></div><br>














        <div class="text-center"><strong class="mat-title">Web Development</strong></div>
        <div class="row text-left">
          <div class="col-6">HTML 5</div><div class="col-6" style="text-align: right">95%</div>
        </div>
        <div class="skills html"></div>

        <div class="row text-left">
          <div class="col-6">CSS 3</div><div class="col-6" style="text-align: right">90%</div>
        </div>
        <div class="skills css"></div>

        <div class="row text-left">
          <div class="col-6">SASS</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills sass"></div>

        <div class="row text-left">
          <div class="col-6">SEO</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills seo"></div>


      </div>
      <div class="col-md-4">
        <div class="text-center"><strong class="mat-title">Professional</strong></div>

        <div class="row text-left">
          <div class="col-6">Communication</div><div class="col-6" style="text-align: right">85%</div>
        </div>
        <div class="skills communication"></div>

        <div class="row text-left">
          <div class="col-6">Creativity</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills creativity"></div>

        <div class="row text-left">
          <div class="col-6">Leadership</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills leadership"></div>

        <div class="row text-left">
          <div class="col-6">Loyalty</div><div class="col-6" style="text-align: right">95%</div>
        </div>
        <div class="skills loyalty"></div>

        <div class="row text-left">
          <div class="col-6">Quality</div><div class="col-6" style="text-align: right">90%</div>
        </div>
        <div class="skills quality"></div>

        <div class="row text-left">
          <div class="col-6">Speed</div><div class="col-6" style="text-align: right">75%</div>
        </div>
        <div class="skills speed"></div>
        <div class="row text-left">
          <div class="col-6">Teamwork</div><div class="col-6" style="text-align: right">90%</div>
        </div>
        <div class="skills teamwork"></div><br>










        <div class="text-center"><strong class="mat-title">Databases</strong></div>
        <div class="row text-left">
          <div class="col-6">MongoDB</div><div class="col-6" style="text-align: right">70%</div>
        </div>
        <div class="skills mongo"></div>



        <div class="row text-left">
          <div class="col-6">MySQL</div><div class="col-6" style="text-align: right">75%</div>
        </div>
        <div class="skills mysql"></div>

        <div class="row text-left">
          <div class="col-6">Postgres</div><div class="col-6" style="text-align: right">80%</div>
        </div>
        <div class="skills postgres"></div>

      </div>
    </div>
  </div>




</aeo-view-port>

<aeo-view-port id="portfolio">
  <div class="vp-padding"></div>
  <div class="container" >
    <div class="row">
      <div class="col-md-4" >
        <div class="img-container">
          <img class="web-img" src="/assets/iboats-thumb.jpg" width=100%>
          <div class="overlay">

          </div>
          <div class="text">iBOATS</div>
        </div>

      </div>
      <div class="col-md-4" >
        <div class="img-container">
          <img class="web-img" src="/assets/jody-thumb-s1-1.jpg" width=100% >
          <div class="overlay">

          </div>
          <div class="text">Magic Healing Hands</div>
        </div>

      </div>
      <div class="col-md-4" >
        <div class="img-container">
          <img class="web-img" src="/assets/aeo-thumb-s1-1.jpg" width=100%>
          <div class="overlay">

          </div>
          <div class="text">AEO-TECH</div>
        </div>

      </div>
    </div>
  </div>
</aeo-view-port>

<aeo-view-port id="testimonials">

  <div class="vp-padding"></div>



  <div class="container" >
    <div class="row">
      <div  class="d-none d-sm-none d-md-none d-lg-block col-lg-5 " style="padding-left: 0px; margin-left: 0px;">

        <img class="float-left right-slant" src="/assets/brianm.jpg" height="500px" >
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7" >
        <div style="margin: auto; width: 60%; padding: 10px;">
          <span class="quote">“</span><br>
           The quality of his work has allowed us to climb from the ranks of “also has classifieds” to an industry leader. We trust him to be responsible for roughly a third of iboats total traffic (our life­blood). He has proven his ability to work well with other programmers to make positive changes to the underlying data structure which is common to other products in the company

          <br><br><span class="signature"> ~ Brian Mellenthin </span> <br>- Former VP Operations iboats.com.
        </div>
      </div>

    </div>
  </div>
  <br><br>
  <div class="container" >
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7" >
        <div style="border: 1px solid red;" style=" margin: auto;
    width: 60%;
    padding: 10px;">
          <span class="quote">“</span><br>
          Brian absolutely exceeded all of my expectations in designing my website. He took all of my content and transformed into a phenomenal website. He edited my photos, created my logo, found perfect pictures to represent my services.
All of my categories are layout are perfectly placed and the site flows magically. I highly recommend Brian. He is very prompt and delivers amazing service.
          <br><br><span class="signature"> ~ Jody Farnsworth Uribe</span> <br>- Owner magichealinghands.com
        </div>
      </div>
      <div  class="d-none d-sm-none d-md-none d-lg-block col-lg-5 " style="padding-right: 0px">

        <img class="float-right left-slant" src="/assets/jody.jpg" height="500px" >
      </div>
    </div>
</div>
</aeo-view-port>

<aeo-view-port id="footer" [state]="show">
  <div class="vp-padding"></div>
  <footer class="container">
    Design and written by Brian Francis <span class="pg-icons"> <img src="/assets/img/angular.png"><img src="/assets/img/bootstrap.png"></span><br><br>
  </footer>
</aeo-view-port>
</div>
