@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@mixin brian-francis-theme($theme){

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  $drawer-width: 225px;
  $nav-button-spacing: 20px;






  app-brian-francis{



    aeo-side-drawer#left-drawer{
      .aeo-sidedrawer-container{
        width: $drawer-width;

        button.aeo-sidedrawer-control{
          top: $nav-button-spacing;
          left: ($drawer-width + $nav-button-spacing);
        }
      }

      .aeo-sidedrawer-container.closed{
        left: -$drawer-width;
      }

      .monogram{
        background-color: mat-color($primary);
        color: white;
        outline: 10px solid white;
        font-family: 'Montserrat', sans-serif;
        height: $drawer-width;
        line-height: $drawer-width;
        vertical-align: middle;
        text-align: center;
        font-size: 75px;
        outline-offset: -40px;
        text-shadow: 0px 5px 3px #4d4d4d
      }
    }

    aeo-view-port#about{



      .small{
          text-align: center;
          h2{
            font-size: 150%;
          }

      }

      .row{
        background-color: mat-color($primary);
        color: white;

        .intro-header{
          margin: 50px;
        }

        mat-list-item{
          color: white;
        }
      }

      button{
        color: mat-color($accent, lighter);
      }



    }

    .porthole{
      position: absolute;

      bottom: 70%;
      left: 0px;
      right: 0px;
      width: 150px;
      height: 150px;
      margin-right: auto;
      margin-left: auto;

      img{
        display: inline-block;
        height: 100px;
        width: 100px;
        overflow: hidden;

        border-radius: 50%;
      }
    }
  }

/////////////////////////////////////

  h3.section{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 5px 3px #4d4d4d;
    font-size: 250%;
  }

  * {
  box-sizing: border-box;
}

.img-container{

  position: relative;


  overflow: hidden;

  img{


  transition: all 0.3s;

    &:hover{
      transform: scale(1.1);
    }
  }
}

h6{
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  margin-top: 6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

  app-brian-francis{







    #settings{
      position: fixed;
      top: $nav-button-spacing;
      left: ($nav-button-spacing + 50px +$nav-button-spacing);
      z-index: 1;
    }





    #testimonials{
      .row{
        background-color: mat-color($primary);
        color: white;
        text-align: center;
        .quote{
          font-size: 400%;
          font-family: Georgia, Serif;
          text-align: center;
        }
        .signature{
          text-align: center;
          font-size: 125%;
          font-family: 'Dancing Script', cursive;
        }
      }
    }

    #experience{
      .container{

      div.timeline{
        position:relative;



        &:before{
          display: block;
          content: '';
          position: absolute;
          top: 0;
          bottom: 23px;
          left: 50%;
          height: 50%;
          width: 4px;
          opacity: 0.3;
          background: mat-color($primary);
        }

        .timeline-block{

          &:nth-child(even) .content{
            float: right;
            width: 44%;
            position: relative;
            background-color: white;

            &:before{
              top: 25px;
              left: auto;
              right: 100%;
              z-index: -2;
            }

            margin-top: -100px;

            .dot{
              margin-top: -100px;
            }
          }

          &:nth-child(even) .dot{
            margin-top: -100px;
          }

          .dot{



            background: mat-color($primary);
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            z-index: 2;
            color: #fff;
            text-align: center;
            position: absolute;
            margin-left: -24px;
            //top: 5px;
            right: 2%;
            left: 50%;
            //margin-top: -100px;


          }

          .content{
            width: 44%;
            position: relative;
            background-color: white;
            border: 1px grey solid;
            padding: 25px;

            &:before{
              content: '';
              width: 58px;
              height: 4px;
              position: absolute;
              top: 26px;
              left: 100%;
              z-index: -2;
              opacity: 0.4;
              background: mat-color($primary);
            }


          }
        }
      }

    }
    }

    #skills{

      div.container{
        padding: 30px;
        background-color: mat-color($primary);
        color: white;

        .row{


          line-height: 35px;

          .skills {
              height: 5px;
              background-color: mat-color($accent, lighter);
            }
        .javascript{width: 85% }
        .perl{width: 75%}
        .php{width: 75%}
        .bootstrap{width: 80%}
        .jasmine{width: 70%}
        .jquery{width: 70%}
        .express{width: 70%}
        .material{width: 75%}
        .typescript{width: 85% }
        .angular{width: 85% }
        .express{width: 70% }
        .atom{width: 85%}
        .git{width: 70%}
        .illustrator{width: 65%}
        .photoshop{width: 65%}
        .unix{width: 70%}
        .windows{width: 80%}
        .html{width: 95%}
        .css{width: 90%}
        .sass{width: 85%}
        .communication{width: 85%}
        .creativity{width: 80%}
        .leadership{width: 80%}
        .loyalty{width: 95%}
        .quality{width: 90%}
        .speed{width: 75%}
        .teamwork{width: 90%}
        .mongo{width: 70%}
        .postgres{width: 80%}
        .mysql{width: 75%}
        .seo{width: 80%}
        }
      }
    }
  }
}
