
* {box-sizing:border-box}



.settings{
  position: fixed;
  top: 80px;
  left: 8px;
  //z-index: 1;
}


.meter{
  width: 100%; /* Full width */
   background-color: #ddd; /* Grey background */


}

aeo-view-port#about{

}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.html {width: 90%; background-color: black; height: 5px;} /* Green */

.programming-icons img{
  filter: brightness(90%);
  transition: filter 2s;

  &:hover{
    filter: brightness(200%);
  }

}

.monogram{
height: 224px;
  line-height: 224px;
  vertical-align: middle;
  background-color: blue;
  text-align: center;
  font-size: 75px;
  color: white;
  //border: 5px solid white;
  outline: 10px solid white;
  outline-offset: -40px;
}



.intro-header{
  margin: 50px;
}


//.row1{
//  flex: 1;
//  display: flex;
//  height: 500px;
//  color: white;
//}

//.col1{
//  background-color: blue;
//  flex:1;
//}

//.col2{
//  background-color: blue;
//  flex:1;
//}

.slant{
  box-sizing: border-box;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
