
h1{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 5px 3px #4d4d4d
}

* {box-sizing:border-box}


#settings{
  postion: fixed;
}



.meter{
  width: 100%; /* Full width */
   background-color: #ddd; /* Grey background */


}

aeo-view-port#about{

}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

//.html {width: 90%; background-color: black; height: 5px;} /* Green */

.programming-icons img{
  filter: brightness(90%);
  transition: filter 2s;

  &:hover{
    filter: brightness(200%);
  }

}

.monogram{
  font-family: 'Montserrat', sans-serif;
  height: 224px;
  line-height: 224px;
  vertical-align: middle;
  text-align: center;
  font-size: 75px;
  outline-offset: -40px;
  text-shadow: 0px 5px 3px #4d4d4d
}



.intro-header{
  margin: 50px;
}




.slant{

  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}
