
.monogram{
height: 224px;
  line-height: 224px;
  vertical-align: middle;
  background-color: blue;
  text-align: center;
  font-size: 75px;
  color: white;
  //border: 5px solid white;
  outline: 10px solid white;
  outline-offset: -40px;
}

.view-port{
  display: flex;
  width: 100vw;
  height: 100vh;

}


.view-port-container{
  height: 100vh;
  display: flex;


  align-items: center;
  //color: #fff;
  //max-width: 960px;
  //padding-left: 1rem;
  //padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.media-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.view-port-content{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.view-port-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}



.hero{

//z-index: -1;

//position: relative;
//display: block;
width: 100%;
height: 370px;
background: url('/assets/hero.jpg') no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;

//-webkit-filter: blur(5px);
//  filter: blur(5px);
}



.left {

    flex: 5;
}

.right{
  flex: 4;
}
