<aeo-side-drawer [width]="224">
  <div class="monogram">BF</div>
  <mat-list>
    <mat-list-item>
      <button mat-icon-button><mat-icon>home</mat-icon> Home</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>account_circle</mat-icon> About</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>settings</mat-icon> Skills</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>work</mat-icon> Experince</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>favorites</mat-icon> Interests</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>feedback</mat-icon> Testimonial</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button><mat-icon>web</mat-icon> Websites</button>
    </mat-list-item>
  </mat-list>
</aeo-side-drawer>


<div class="view-port">


    <div class="left" style="background-color:coral;">RED</div>
    <div class="right" style="background-color:lightblue;">BLUE</div>


</div>


<div class="view-port-container">
  <div class="view-port-content">
    viewport2
  </div>
</div>
<div class="view-port-container">
  <div class="view-port-content">
    viewport2
  </div>
</div>
<div class="view-port-container">
  <div class="view-port-content">
    viewport2
  </div>
</div>
<div class="view-port-container">
  <div class="view-port-content">
    viewport2
  </div>
</div>
