@import '~@angular/material/theming';

$lush-theme-primary: mat-palette($mat-green);
$lush-theme-accent: mat-palette($mat-light-green);
$lush-theme-warn: mat-palette($mat-red);

$lush-theme: mat-dark-theme( $lush-theme-primary, $lush-theme-accent, $lush-theme-warn);
