@import "beach-theme.scss";
@import "tropical-theme.scss";
@import "midnight-theme.scss";
@import "lush-theme.scss";
@import "pirate-theme.scss";
@import "tech-theme.scss";
@import "corp-theme.scss";
@import "arizona-theme.scss";
@import '~@angular/material/theming';
@include mat-core();

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "app/aeo/side-drawer/side-drawer-theme.scss";
@import "app/brian-francis/brian-francis-theme.scss";

@mixin custom-components-theme($theme){
  @include side-drawer-theme($theme);
  @include brian-francis-theme($theme);
}

.beach-theme{
  @include angular-material-theme($beach-theme);
  @include custom-components-theme($beach-theme);
}

.tropical-theme{
  @include angular-material-theme($tropical-theme);
  @include custom-components-theme($tropical-theme);
}

.midnight-theme{
  @include angular-material-theme($midnight-theme);
  @include custom-components-theme($midnight-theme);
}

.lush-theme{
  @include angular-material-theme($lush-theme);
  @include custom-components-theme($lush-theme);
}

.pirate-theme{
  @include angular-material-theme($pirate-theme);
  @include custom-components-theme($pirate-theme);
}

.corp-theme{
  @include angular-material-theme($corp-theme);
  @include custom-components-theme($corp-theme);
}

.tech-theme{
  @include angular-material-theme($tech-theme);
  @include custom-components-theme($tech-theme);
}

.arizona-theme{
  @include angular-material-theme($arizona-theme);
  @include custom-components-theme($arizona-theme);
}


// CHROM SCROLLBAR //

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
::-webkit-scrollbar-track {
  border: 1px solid grey;
}
// GLOBALS //

* {
  box-sizing:border-box;
  transition: background-color 3s; }

body{ margin: 0px }

button:focus{ outline: none } // TODO Change outline for round buttons

.vp-padding{

  padding-top: 10vh;
}

// CUSTOM THEME //

body.lush-theme, body.midnight-theme, body.tech-theme{
  background-color: #303030;
}


body.beach-theme, body.tropical-theme, body.pirate-theme{
  background-color: #fafafa;
}

.beach-theme, .tropical-theme{
  div.hero{
    img{
        filter: blur(5px);
    }
  }
}

.arizona-theme, .lush-theme, .pirate-theme {
  div.hero{
    img{
      filter: brightness(50%);
    }
  }
}

.tech-theme{
  div.hero{
    img{
      filter: blur(2px)  brightness(200%) ;

    }
  }
}



// CUSTOM COMPONENTS //

$drawer-width: 225px;
$nav-button-spacing: 20px;

aeo-side-drawer#left-drawer{
  .aeo-sidedrawer-container{
    width: $drawer-width;

    button.aeo-sidedrawer-control{
      top: $nav-button-spacing;
      left: ($drawer-width + $nav-button-spacing);
    }
  }

  .aeo-sidedrawer-container.closed{
    left: -$drawer-width;
  }
}

#settings{
  position: fixed;
  top: $nav-button-spacing;
  left: ($nav-button-spacing + 50px +$nav-button-spacing);
  z-index: 1;
}
