@import "beach-theme.scss";
@import "tropical-theme.scss";
@import "midnight-theme.scss";
@import "lush-theme.scss";
@import "pirate-theme.scss";
@import "tech-theme.scss";
@import "corp-theme.scss";
@import "arizona-theme.scss";
@import '~@angular/material/theming';
@include mat-core();

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "app/aeo/side-drawer/side-drawer-theme.scss";
@import "app/brian-francis/brian-francis-theme.scss";
@import "app/brian-francis/profile/profile-theme.scss";
@import "app/brian-francis/img-viewer-dialog/img-viewer-dialog-theme.scss";


@mixin custom-components-theme($theme){
  @include side-drawer-theme($theme);
  @include brian-francis-theme($theme);
  @include profile-theme($theme);
  @include img-viewer-dialog-theme($theme);
}

.beach-theme{
  @include angular-material-theme($beach-theme);
  @include custom-components-theme($beach-theme);
}

.tropical-theme{
  @include angular-material-theme($tropical-theme);
  @include custom-components-theme($tropical-theme);
}

.midnight-theme{
  @include angular-material-theme($midnight-theme);
  @include custom-components-theme($midnight-theme);




}

.lush-theme{
  @include angular-material-theme($lush-theme);
  @include custom-components-theme($lush-theme);
}

.pirate-theme{
  @include angular-material-theme($pirate-theme);
  @include custom-components-theme($pirate-theme);
}

.corp-theme{
  @include angular-material-theme($corp-theme);
  @include custom-components-theme($corp-theme);
}

.tech-theme{
  @include angular-material-theme($tech-theme);
  @include custom-components-theme($tech-theme);
}

.arizona-theme{
  @include angular-material-theme($arizona-theme);
  @include custom-components-theme($arizona-theme);
}


// CHROM SCROLLBAR //

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
::-webkit-scrollbar-track {
  border: 1px solid grey;
}
// GLOBALS //

* {
  box-sizing:border-box;
  transition: background-color 3s; }

body{ margin: 0px }

button:focus{ outline: none } // TODO Change outline for round buttons

.vp-padding{
  padding-top: 10vh;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 5px 3px #4d4d4d;
}

.carousel-control-next, .carousel-control-prev{
  opacity: .75;
}




// CUSTOM THEME //

body.lush-theme, body.midnight-theme, body.tech-theme, body.pirate-theme{
  background-color: #303030;
}


body.beach-theme, body.tropical-theme, body.corp-theme, body.arizona-theme {
  background-color: #f0f0f0;
}

.tropical-theme{
  div.hero{
    img{
        filter: blur(2px);
    }
  }
}

.arizona-theme, .lush-theme, .pirate-theme {
  div.hero{
    img{
      filter: brightness(50%);
    }
  }
}

.tech-theme{
  div.hero{
    img{
      filter: blur(2px)  brightness(200%) ;

    }
  }
}


mat-dialog-container.mat-dialog-container{
  border-radius: 15px;
}

// CUSTOM COMPONENTS //
